<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Kimmich</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <meta name="description" content="decouvrez cette application de gestion de taches qui vous aidera a mieux planifier votre quotidien">

<body>
    <div class="container">
        <h1>welcome on Kimmich's todo app 😎</h1>
        <div class="auth-buttons">
            <form action="" method="post">
                <label for="email">email</label>
                <input type="email" placeholder="enter your email" class="input-email" name="username">
                <label for="password">password</label>
                <input type="password" name="password" placeholder="enter your password" class="input-passwd">
                <button class="login-button">Login</button>
                <p>don't yet have an account ? <a href="register.html" target="_blank" class="link">register</a></p>
            </form>
            <div class="auth">
                <a class="google" href="/auth/google">
                    <i class="fab fa-google"></i>
                    Sign In with google
                </a>
                <a class="spotify" href="/auth/spotify">
                    <i class="fab fa-spotify"></i>
                    Sign In with spotify
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d41c25bf5d.js" crossorigin="anonymous"></script>
</body>

</html>