<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Kimmich</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="div-button">
        <nav>
            <h1>
                KIMMICH TODO APP
            </h1>
            <ul>
                <li>
                    <a href="/views/tasks" class="elements">view my tasks <i class="fa-solid fa-list-check"></i></a>
                </li>
                <li>
                    <a href="/views/payment.html" class="elements">payment <i class="fa-solid fa-credit-card"></i></a>
                </li>
                <li>
                    <a href="/logout" class="elements">log out <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="container">
        <div class="list-elements">
            <div class="head">
                <form action="/main.html" method="post" >
                    <input type="text" name="mdcontent" id="content" placeholder="Enter an element" class="input-element" required spellcheck="false">
                    <button class="add-button">Add</button>
                </form>
            </div>
            <ul class="list-events" title="Todo Tasks">
                <li class="lists-dis">add your items as you want<i class="fa fa-trash-o"></i></li>
            </ul>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d41c25bf5d.js" crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>
</body>

</html>