<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/tasks.css">
</head>

<body>
    <div class="div-button">
        <nav>
            <h1>
                KIMMICH TODO APP
            </h1>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" id="bars"></i>
            </div>
            <ul class="head">
                <li>
                    <a href="/main.html" class="elements">home <i class="fa-solid fa-list-check"></i></a>
                </li>
                <li>
                    <a href="/views/payment.html" class="elements">payment <i class="fa-solid fa-credit-card"></i></a>
                </li>
                <li>
                    <a href="/logout" class="elements">log out <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <h1>Tasks History</h1>
    <div id="mydiv">
        <ul id="taskHistory">
            <% tasks.forEach(task=> { %>
                <li id="task-<%= task._id %>">
                    <%= task.content %>
                    <i class="fa fa-trash-o" onclick="deleteTask('<%= task._id %>')"></i>
                </li>
                <% }) %>
        </ul>
    </div>
    <footer>
        <em>NB : tasks deleted here are directly deleted into database</em>
    </footer>
    <script src="https://kit.fontawesome.com/d41c25bf5d.js" crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>
</body>

</html>